# Aviationstack
AVIATIONSTACK_API_KEY=replace-me
AVIATIONSTACK_BASE_URL=https://api.aviationstack.com/v1
PERU_AIRPORT_IATA_CODES=LIM,CUZ,AQP
AVIATIONSTACK_FLIGHT_STATUS=active
AVIATIONSTACK_POLL_INTERVAL_SECONDS=60
AVIATIONSTACK_MAX_REQUESTS=12
AVIATIONSTACK_PAGE_LIMIT=100
AVIATIONSTACK_REQUEST_TIMEOUT_SECONDS=20

# Redpanda Cloud (se usará a partir del paso 4)
REDPANDA_BOOTSTRAP_SERVERS=replace-me:9092
REDPANDA_SECURITY_PROTOCOL=SASL_SSL
REDPANDA_SASL_MECHANISM=SCRAM-SHA-256
REDPANDA_USERNAME=replace-me
REDPANDA_PASSWORD=replace-me
REDPANDA_TOPIC=viation-peru
REDPANDA_TOPIC_PARTITIONS=3
REDPANDA_MAX_MESSAGES=5
