# OBLIGATORIO: reemplaza estos dos valores.
AVIATIONSTACK_API_KEY=REEMPLAZAR_CON_TU_API_KEY
GOOGLE_CLOUD_PROJECT=REEMPLAZAR_CON_TU_PROJECT_ID

# Puedes conservar estos valores para la primera prueba.
PUBSUB_TOPIC_ID=aviationstack-flights
AIRPORT_IATA=LIM
MOVEMENT_TYPE=ARRIVAL
FLIGHT_STATUS=active
AVIATIONSTACK_LIMIT=5
ONLY_LIVE_FLIGHTS=true
PUBLISH_INTERVAL_SECONDS=60

